:root{
    --dark_green_gray: '#283618';
    --light_green_grey: '#B7B7A4';
    --soft_grey: '#D4D4D4';
    --off_white: '#F0EFEB';
    --white: '#FFFFFF';
    --red: '#E5254B';
    --green: '#038100';
    --orange: '#EA7000';
    --light_blue: '#E5F8FF';
    --blue: '#589DD5';

    /*max-width: ;*/
}